<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
</head>
<body>
<div id="text">Hello, its venom calculator, enter your expression
    <p th:text="${request}"></p>

    <p>cs:</p>
    <p th:text="${response_c}"></p>
    <p>java:</p>
    <p th:text="${response_j}"></p>
    <p>py:</p>
    <p th:text="${response_p}"></p>
</div>

<form action="#" th:action="@{/porthub/}" th:object="${String}" method="post">
    <input type="text" name="value" id="name">
</form>

<script>
</script>
</body>
</html>